.box {
    display: block;
    width: auto;
    height: auto;
    padding: 15px;
    margin: 0px;
    background-color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
    
}
.boxx {
    display: block;
    width: auto;
    height: auto;
    padding: 15px;
    margin: 0px;
    background-color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
    
}
.box-a {
    display: block;
    width: auto;
    height: auto;
    padding: 15px;
    margin-left: -35px;
    background-color: transparent;
    margin-bottom: 20px;
    cursor: pointer;
}
.box-b {
    display: block;
    width: 250px;
    height: 180px;
    padding: 15px 0px 15px 0px;
    margin: 0px 0px 15px 25px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
}
.box-c {
    display: block;
    width: 135px;
    height: 180px;
    padding: 15px;
    margin: 0px 0px 15px 25px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
}
.w2 {
    margin-left: 15px;
    height: 180px;
    border-radius: 8px;
}
.boxb {
    display: block;
    width: 100%;
    height: 166px;
    padding: 35px;
    margin: none;
    background-color: #ffffff;
    cursor: pointer;
}
.m-box-row {
    margin-bottom: 15px;
}
.imgs-box-one {
    display: initial;
    width: 100%;
    height: auto;
    max-width: 400px;
    text-align: center;
}
.up {
    transform: translateY(-2%);
}
.down {
    display: block;
}
.img-box00 {
    margin-left: 5px;
}

@media (min-width: 768px) { 
    .box {
        margin: 15px;
    }
    .boxx {
        height: 360px;
        margin: 15px;
    }
}

@media (min-width: 1165px) { 
    .up {
        transform: translateY(-85%);
    }
    .down {
        display: none;
    }
}