.search-btn {
    position: relative;
    height: 44px;
    width: 50px;
    margin: 2px 10px 5px 5px;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: inset,0,1px,0,0,rgba(255,255,255,.15);
    -moz-box-shadow: inset,0,1px,0,0,rgba(255,255,255,.15);
    box-shadow: inset,0,1px,0,0,rgba(255,255,255,.15);
    background: #fcbb6a;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFCBB6A', endColorstr='#FFFCBB6A', GradientType=0 );
    background: linear-gradient(to bottom,#fcbb6a,#fcbb6a);
    background: -moz-linear-gradient(top,#fcbb6a,#fcbb6a);
    background: -webkit-linear-gradient(top,#fcbb6a,#fcbb6a);
    background: -o-linear-gradient(top,#fcbb6a,#fcbb6a);
    background: -ms-linear-gradient(top,#fcbb6a,#fcbb6a);
    border-radius: 8px;
}
.login-bnt-a {
    cursor: pointer;
    background-position: right -170px;
    display: block;
    width: 220px;
    height: 28px;
    position: relative;
    color: #000;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffe093;
    border-color: #ffe093;
    border-radius: 3px;
    background-color: #ffe061;
}

.buyNow {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 16px;
    height: 45px;
    width: 100%;
    text-align: start;
    color: black;
    left: 0rem;
    top: 0rem;
    opacity: 0.9;
    outline: 0;
    border: none;
    border-radius: 18px;
    font-size: 1.09rem;
    line-height: 1.35;
}

.a {
    background-color: #ffa41c;
}
.b {
    background-color: #ffd814;
}
.ultil {
    background: #FFF;
    border-radius: 8px;
    border-color: #D5D9D9;
    border-style: solid;
    border-width: .1rem;
    cursor: pointer;
    display: block;
    padding: 9px 16px 9px 17px;
    text-align: center;
    text-decoration: none!important;
    font-weight: 600;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    12 16FONT-WEIGHT: 100;
    12 16 12FONT-WEIGHT: 100;
}
