body {
    background-color: #f6f6f6;

}

.container {
    padding: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.return {
    display: block;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #cccccc;
    background-color: #ebebeb;

}

a.nounderline:link 
{ 
 text-decoration:none; 
} 

a {
    text-decoration: none;
}

h33 {
    color: #111111;
    text-decoration-line: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    font-size: 15px!important;
    line-height: 1.35!important;
    font-weight: 700!important;
}

h34 {
    
    color: #111111;
    text-decoration-line: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}

span {
    color: #111111;
    text-decoration-line: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

.select-box {
    border: 1px solid #dddddd;
    position: relative;
    background-color: #f3f3f3;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    display: block;
    color: inherit;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    line-height: 3;
    height: 46px;
}

.box {
    border: 1px solid #dddddd;
    cursor: pointer;
    position: relative;
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.boxb {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 30px;
}

.form {
    display: flex;
    text-align: center;
    height: 43px;
    margin: 8px 0px 8px 0px;
    
}

.inputForm {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid cadetblue;
    padding: 2px 0px 0px;
    border-radius: 2px;
    float: none;
    width: 100%;
    background-color: transparent;
    margin: .64rem 0 0;
    padding: 0 1.1rem;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    height: 43px;
}

.a-button {
    display: flex;
    height: 46px;
    cursor: pointer;
    -webkit-appearance: button;
    margin: 22px 0px 32px 0px;
}

.a-button-input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid black;
    background: rgb(246,221,160);
    background: -moz-linear-gradient(180deg, rgba(246,221,160,1) 0%, rgba(240,194,78,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(246,221,160,1) 0%, rgba(240,194,78,1) 100%);
    background: linear-gradient(180deg, rgba(246,221,160,1) 0%, rgba(240,194,78,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6dda0",endColorstr="#f0c24e",GradientType=1);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}


.b-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 45px;
    margin-top: 10px;
}

.b-button-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 12px;
    background-color: #ffffff;
    color: #0f1111;
    border: 1px solid #d5d9d9;
    box-shadow: 0 0.2rem 0.5rem rgb(15 17 17 / 15%);
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0rem;
    top: 0rem;
    outline: 0;
    overflow: visible;
    z-index: 20;
    text-align: center;
    padding: 12px;
    font-weight: bold;

}

.c-button-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 12px;
    background-color: #ffd814;
    color: #ffffff;
    box-shadow: 0 0.2rem 0.5rem rgb(15 17 17 / 15%);
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0rem;
    top: 0rem;
    outline: 0;
    overflow: visible;
    z-index: 20;
    border: none;
    animation-duration: 0.6s;
    animation-name: slidein;

}

.selection {
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    background-color: #f0f2f2;
    box-shadow: 0 0.2rem 0.5rem rgb(15 17 17 / 15%);
    font-weight: 600;

}

.inputForm1 {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid transparent ;
    padding: 2px 0px 0px;
    float: none;
    width: 100%;
    background-color: transparent;
    padding: 0 1.1rem;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    height: 43px;
    outline: none;
}

.x {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-bottom: 1px solid cadetblue;
    width: 100%;
}

.card {
    border-radius: 12px;
    border: 1px solid cadetblue;
}

.dropDown {
    width: 100%;
    font-size: 12px;
    border-radius: 12px; 
    border: 1px solid cadetblue;
    margin-top: 15px;
    padding: 12px;
    outline: none ;
}

@keyframes slidein {
    from {
      margin-left:0%;
      width:0%
    }
  
    to {
     width:100%;
   }
  }