
header{
    display: block;
}
.main-header{
    position: relative;
    z-index: 208;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
    min-width: 200px;
    padding: 0;
    margin: 0;
}

#nav-logobar{
    display: flex;
    position: relative;
    z-index: inherit;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid #232f3e;
    background-color: #232f3e;
    flex-flow: row nowrap;
    justify-content: space-between;
}



#nav-searchbar-wrapper{
    display: flex;
    height: 50px;
}
.nav-searchbar{
    display: block;
    padding: 2px 10px 5px 10px;
    position: relative;
    height: 50px;
    width: 100%;
    background: #232f3e;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 0;
    flex: 1;
    z-index: inherit;
}
.nav-right{
    position: absolute;
    right: 0;
    margin-right: 10px;
}
.nav-fill{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
}
.nav-search-field{
    height: 44px;
    margin: 0;
    position: inherit;
    background: #fff;
}
.nav-search-submit{
    position: relative;
    height: 44px;
    width: 50px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: inset,0,1px,0,0,rgba(255,255,255,.15);
    -moz-box-shadow: inset,0,1px,0,0,rgba(255,255,255,.15);
    box-shadow: inset,0,1px,0,0,rgba(255,255,255,.15);
    background: #fcbb6a;
    background: #fcbb6a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFCBB6A', endColorstr='#FFFCBB6A', GradientType=0 );
    background: linear-gradient(to bottom,#fcbb6a,#fcbb6a);
    background: -moz-linear-gradient(top,#fcbb6a,#fcbb6a);
    background: -webkit-linear-gradient(top,#fcbb6a,#fcbb6a);
    background: -o-linear-gradient(top,#fcbb6a,#fcbb6a);
    background: -ms-linear-gradient(top,#fcbb6a,#fcbb6a);
}
.nav-input{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    direction: ltr;
    display: block;
    padding: 0 95px 0 10px;
    color: #000;
    font-size: 15px;
    font-family: inherit;
    border: 0;
    outline: 0;
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.5),inset 0 1px 0 0 rgba(0,0,0,.07);
    -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.5),inset 0 1px 0 0 rgba(0,0,0,.07);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.5),inset 0 1px 0 0 rgba(0,0,0,.07);
}
.nav-input-go{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    border: 0;
    background-color: transparent;
    text-indent: -1000px;
    line-height: 1px;
}
.nav-icon-zoom{
    position: absolute;
    top: 10px;
    left: 12px;
    pointer-events: none;
    background-position: -73px -239px;
    width: 27px;
    height: 25px;
    -webkit-filter: invert(100%);
}
#nav-subnav-container{
    background-color: #37475A;
    height: 44px;
    width: 100%;
}
#nav-global-location-slot{
    float: left;
    padding: 12px 10px 12px 10px;
    height: 100%;
    width: 100%;
}
#nav-packard-glow-loc-icon{
    background-position: -75px -340px;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
.nav-single-line{
    display: flex;
    clear: both;
    font-size: 13px;
    line-height: 20px;
    color: #FFF;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.nav-line{
    display: flex;
}
.nav-logobar-left{
    flex-shrink: 0;
    flex-flow: row nowrap;
    display: flex;
    position: relative;
    width: auto;

}
#nav-hamburger-menu{
    float: left;
    padding: 14px 14px;
}
.nav-logobar-right{
    order: 0;
    flex-flow: row-reverse wrap;
    overflow: hidden;
    min-width: 60px;
    display: flex;
    position: relative;
    width: auto;
}
.nav-icon-a11y{
    text-indent: -500px;
    overflow: hidden;
} 
.nav-sprite{
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/32/gno/sprites/new-nav-sprite-global-1x_blueheaven-account._CB658093874_.png);
    background-repeat: no-repeat;
    overflow: hidden;
}
.nav-drop{
    background-position: -20px -378px;
    display: block;
    width: 20px;
    height: 20px;
}
.nav-logo-base{
    float: left;
    text-indent: -500px;
    padding: 10px 40px 0 20px;
    background-position: -10px -50px;
    width: 80px;
    height: 27px;
    margin-top: 13px;
}
.nav-logo-locale{
    float: left;
    margin: 2px 0 0 1px;
    font-size: 13.5px;
    color: #fff;
    line-height: 14px;
    font-weight: regular;
    padding-top: 12px;    
    display: block;
    background-position: -160px -329px;
    width: 45px;
    height: 16px;
    direction: ltr;
}
#nav-button-avatar{
    order: 2;
    display: flex;
    padding: 9px 0 12px 4px;
    position: relative;
    width: 39px;   
}
.nav-icon-man{
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/account-wave2x._CB403841047_.gif);
    display: block;
    background-position: -73px -302px;
    width: 27px;
    height: 25px;
    background-position: -141px -300px;
    width: 35px;
    height: 27px;
}
.nav-icon-cart{
    display: block;
    background-position: -10px -240px;
    width: 37px;
    height: 27px;
}
#nav-button-cart{
    order: 1;
    display: flex;
    padding: 10px 18px 11px 12px;
}
#nav-cart-count{
    text-align: center;
    padding: 2px 0 0 16px;
    font-size: 15px;
    line-height: 10px;
    font-weight: 700;
    text-decoration: none;
    color: #f90;
}
.cod-box{
    padding: 15px;
    border: 1px solid lightgray;
    margin: 15px;
    border-radius: 8px;
    background: #ebebeb42;
    font-size: smaller;
}